body {
    background-color: #f8f9fa;
}

.page-header {
    background-size: cover;
    
}

.mask {
    background-color: rgba(0, 0, 0, 0.6);
}

.card {
    border-radius: 0.5rem;
}

.input-group-outline .form-label {
    color: #333;
}

.input-group-outline .form-control {
    border: 1px solid #ddd;
}

.btn {
    border-radius: 0.5rem;
}

.footer {
    color: #fff;
}
